.footer {
  background-color: #13151e;
  color: #f5f5fa;
  padding: 20px 0;
  text-align: center;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social a {
  margin: 0 10px;
  color: #82559b; /* Adjust color as per your design */
  font-size: 24px; /* Adjust size as per your design */
}
