.slider-container {
  position: relative;
  width: 100%;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.slider {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  flex: 1;
}

.slider__title {
  margin-top: 0;
  padding: 0 20px;
  color: #f5f5fa;
}

.slider__cards {
  display: flex;
  padding: 10px;
  transition: transform 360ms;
}

.slider__card {
  flex: 0 0 auto;
  cursor: pointer;
  transition: transform 360ms;
  margin-right: 10px;
}

.slider__card:hover {
  transform: scale(1.05);
}

.slider__card-image {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  height: 200px;
}

.slider__card--large .slider__card-image {
  height: 300px;
}

.slider__card-title {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  max-width: 150px;
}

.media-slider__arrow {
  background-color: rgba(19, 21, 30, 0.7);
  color: #f5f5fa;
  border: none;
  padding: 20px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Make the arrow as high as the card container */
  width: 50px; /* Adjust width as needed */
  font-size: 36px; /* Increase font size for larger arrows */
  opacity: 0.5; /* Initial opacity */
  transition: opacity 0.3s ease;
}

.media-slider__arrow:hover {
  opacity: 1; /* Full opacity on hover */
}

.media-slider__arrow-left {
  left: 0;
}

.media-slider__arrow-right {
  right: 0;
}
